
.firstpage{
        color: rgb(184, 85, 19);
        font-size: 18px;
        opacity: 0.7;
        margin: 50px 10px;
        transition: 0.5s;
    
}

.about-us{
        color: rgb(226, 117, 55);
        font-size: 40px;
        text-align: center;
        transition: 0.5s;
        margin: 30px;
        font-weight: 300;
        /* text-decoration: underline; */
}

.beach{
        color: rgb(187, 109, 19);
        font-size: 40px;
        text-align: center;
        transition: 0.5s;
        margin: 30px;
        font-weight: 600;

}


.caption{
        color: green;
        font-size: 30px;
        opacity: 0.7;
        text-align: center;
        transition: 0.5s;
        margin: 50px;


}


.solutions-button{
        background-color: green;
        padding: 8px;
        color: white;
        font-size: 1.5rem;
        display: grid;
        margin: auto;  
        text-decoration: none;
        font-size: 28px;
        cursor: pointer;
        font-weight: 700;
        border: none;
        border-radius: 5px;



}

.solutions-button:hover{
        background-color: white;
        text-decoration: none;
        color: green;
        transition: 0.9s;
        border: 1px green solid;

}



.font{
        font-size: 18px;
        margin: 60px 10px;
        transition: 0.5s;
    
}
.bk-btn {
        /* height: $bkBtnSize; */
        /* width: $bkBtnSize; */
        background-color: black;
        border-radius: 50%;
}
.bk-btn-triangle {
        position: relative;
        top: 0.25;
        left: 0.2;
        width: 0; 
        height: 0; 
        border-top: 0.25 solid transparent;
        border-bottom: 0.25 solid transparent; 
        border-right: 0.25 solid white; 
      }
      .bk-btn-bar {
        position: relative;
        background-color: white;
        height: 0.15;
        width: 0.25;
        top: -0.07;
        left: 0.44;
      }
    