
.image{
  /* background-color: rgb(238, 232, 217); */
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

} 
.profile{
    background-color: rgb(51, 61, 54);
    text-align: center;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
   
}
.heading{
padding: 20px;
display: inline-block;
}
.head {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .imaage:hover .profile {
    opacity: .2;
    transition: 0.3s;
    border: 5px double rgb(18, 19, 18);
    border-radius: 12px;

  }
   
  .imaage:hover .head {
    opacity: .9;
    
  } 
  .head {
    background-color: rgb(128, 160, 119);
    color: white;
    font-size: 45px;
    padding: 16px 17px;
    transition: 0.3s;
	letter-spacing: -3px;
  font-weight: 900;
  box-shadow: 1px 1px 10px green;
  }

  @media (max-width: 800px) {

    .head {
      background-color: rgb(192, 139, 41);
      color: white;
      font-size: 17px;
      padding: 16px 17px;
      transition: 0.3s;
  
    }

  }
