@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container__body{
    min-height:100vh;
    padding: 8rem 8rem;
}
.container__body h1{
    text-align: center;
    font-size: 3em;
    padding:15px 0;
    font-family: Grechen Fuemen , sans-serif;
    color: green;
}
.container__body img{
    width:320px;
    height:320px;
    object-fit: cover;
    shape-outside: circle();
    
}
.container__body #img1{
    float: left;
    border-radius: 0 50% 50% 0;
    padding-right:30px;
}
.container__body #img2{
    float:right;
    border-radius:50% 0 0 50%;
    padding-left:30px;
}
.container__body p{
    text-align: justify;
    line-height: 1.6;
    padding-bottom: 10px;
    font-size: 17px;
    color: black;
}
.more{
    font-size: 25px;
    text-decoration: none;
}
.more:hover{
    color: green;

}

@media screen and (max-width:1024px) {
    .container__body{
        padding: 3rem 3rem;
    }

    .container__body h1{
        font-size: 2em;
    }
    .container__body p{
        font-size: 17px;
  
    }
}

@media screen and (max-width:600px) {
    .container__body{
        padding: 2rem 2rem;
        
    }
    .container__body p{
        font-size: 15px;
  
    }
}