.heading {
  /* text-transform: uppercase; */
  background-color: rgb(57, 148, 57);
  /* color: white; */
  padding: 17px;
  /* font-weight: 600; */
  border-radius: 50%;
}
.navbar{
  background-color: green;
}
a{
  font-size: 20px;
  text-decoration: none;
 
}
a:hover{
  text-decoration: none;
}