.heading {
    /* text-transform: uppercase; */
    background-color: rgb(183, 212, 183);
    color: white;
    padding: 13px;
    font-weight: 200;
    /* border-radius: 10px; */
    font-family: Grechen Fuemen , sans-serif;
  
  
  }
  .navbar{
    background-color: green;
  }
  a{
    font-size: 20px;
    text-decoration: none;
   
  }
  a:hover{
    text-decoration: none;
  }