
footer{
    background: #22411f;

    

}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
}
.footer-bottom{
    background: #276b08;
    padding: 1px;
}

.footer-content h3{
    color: rgb(102, 150, 102);
    font-size: 2.4rem;
    font-family: "Paytone One";
    margin: 10px 0;
}

.footer-content p{
    color: rgb(192, 216, 192);
    font-size: 18px;
    max-width: 700px;
    opacity: 0.7;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.5s;

}
.social a{
    text-decoration: none;
}
.social a i{
    margin: 10px;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 50%;
    background-color: rgb(66, 134, 10);
    color: white;

}

.social a i:hover{
    background-color: rgb(231, 236, 227);
    color: rgb(41, 146, 41);
}

.footer-bottom p{
    color: rgb(14, 13, 11);
    text-align: center;
    padding: 10px 0;
}


@media screen and (max-width:1024px) {
    
.footer-content h3{
    font-size: 2rem;
}
}

@media screen and (max-width:600px) {
    
.footer-content h3{
    font-size: 1.6rem;
}

.footer-content p{
    font-size: 1rem;
    font-family: "Paytone One";
}
.social a i{
    margin: 6px;
    font-size: 1.1rem;

}
.footer-bottom p{
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    
}
}